html, body {
  font-weight: bolder;
  font-family: 'Helvetica';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 10);
}

h1 {
  position: absolute;
  color: white;
  font-size: 48px;
  text-align: center;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  mix-blend-mode: difference;
}
